.field {
        
    &_title {
        margin: 0 0 10px;
        font-weight: 700;
        font-family: @font1;
        font-size: 18px;
        line-height: 25px;
        color: @black;
        &--mb7 {
            margin-bottom: 7px;
        }
    }

    &_inputs {
        display: flex;
        gap: 15px;

    }

    &_select,
    &_input,
    &_textarea {
        box-sizing: border-box;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: @white;
        font-size: 16px;
        padding: 17px 20px 16px;
    }

    &_select,
    &_input {
        height: 55px;
    }

    &_textarea {
        height: 150px;
    }

    &_input {
        color: @black;
        
        &--w55 {
            width: 55px; 
        
        }
        &--w110 {
            width: 110px;
        
        }

        &--datetime {
            padding: 17px 13px 16px;
            text-align: center;
        }

        &::placeholder {
            font-size: 16px;
            color: #6c6c6c;
        }
    }

    &_label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 22px;
        color: @black;
        
        &--textarea {
        
            font-weight: 700;
            font-family: @font1;
            font-size: 18px;
            line-height: 25px;
            color: @black;
        }
    }
}