.main {
    &-header {
        padding: 100px 0;

    }

    &-header_picture {
        display: block;
        margin-bottom: 70px;
        position: relative;
        width: 100%;

    }

    &-header_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &-header_picture::before {
        content: "";
        display: block;
        position: relative;
        width: 100%;
        padding-top: 16.927%;
    }

    &-header_title,
    &-header_text {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Lora', serif;
        line-height: normal;
        font-weight: 400;
        font-size: 45px;
        color: @black;
    }

    &-header_title {
        margin: 0 0 70px;

    }

    &-header_text {
        margin: 0 auto;
        max-width: 940px;
        width: 100%;

    }
}